
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #007bff; 
    text-transform: uppercase;
    font-weight: bold;
}

.table-responsive {
    margin-top: 20px;
}


table.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    color: white;
    text-align: center;
}

.table td, .table th {
    padding: 12px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table .btn-sm {
    margin: 2px;
}

.table .lead-info {
    background-color: #e9ecef;
    font-weight: bold;
    color: #333;
    border-right: 2px solid #ddd;
}

.lead-info {
    font-weight: bold;
    color: #333;
}

.text-danger {
    color: red;
    font-style: italic;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .table th, .table td {
        font-size: 14px;
        padding: 8px;
    }
}
